* {
  margin: 0;
}

@font-face {
  font-family: Mistral;
  src: url("./assets/fonts/MISTRAL.TTF");
}

@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");

body {
  height: 300vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.darkmode-toggle {
  z-index: 1;
}
