footer {
  background: #393e46;
  /* background: #31326f; */
  padding: 2rem 0;
}

.footer-logo {
  height: 15vh;
  display: block;
  margin: auto;
}

.fort {
  display: block;
  margin: auto;
  height: 20vh;
}

.copyright {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.soc-icons .fa {
  color: white;
  font-size: 2.25rem;
  padding: 1em;
}

.soc-icons {
  width: 100%;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
